a{
    display: inline-block;
    text-align: right;
    /* float: right; */
    position: absolute;
    right: 0;
   
}
a:hover{
    display: inline-block;
    /* text-align: right; */
    /* float: right; */
    position: absolute;
    right: 0;
    cursor: pointer;
 
   
}
.bordeFacha{
    /* border: 1px solid black; */
    /* border-radius: 15px; */
}